#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#cards section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b4b4b4;
    margin: 5px;
    padding: 15px;
    background-color: #ebc014;
    
}


#cards img {
    width: auto;
    max-width: 300px;
    height: 200px;
    box-shadow: 0 0 25px #ecffc0;
    border: 1px solid #000000;
}

#cards h2{
    color: #fff;
}

 h1 {
    text-align: center;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    text-align: center;
    margin: 25px;
    font-size: larger;
}