:root {
    --orange-color: rgb(247, 236, 193);
    --white-color: rgb(255, 255, 255);
    --grey-color: rgb(77, 77, 77);
    --black-color: rgb(0, 0, 0);
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

caption {
    caption-side: bottom;
    font-size: 20px;
    margin-top: 15px;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

th {
    background-color: var(--black-color); 
    color: var(--white-color);
}

thead tr:nth-child(2) th:not(:first-child) {
    background-color: var(--grey-color); 
}

tr {
    background-color: var(--orange-color);
}

tr:nth-child(even) {
    background-color: var(--white-color);
}








