body {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.9fr auto ;
    
    grid-template-rows: auto auto 1fr auto;
}


header {
    background: rgb(243, 250, 171);
    padding: 2rem;
    grid-column: 1 / 3;
}

nav {
    background: rgb(117, 221, 117);
    grid-column: 1 / 3;
    grid-row: 2 / 3; 
    padding: 2rem; 


}

/*.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2; 
} */  

main {
    background: coral;
    grid-column: 1 / 2;

}

.right-sidebar {
    background: yellow;
    grid-column: 2 / 3;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
}

.main, 
.right-sidebar,
.nav {
    padding: 1rem;
}