body {
    font-family: "Roboto", sans-serif;
}

header, 
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px ;
    padding: 10px;
    background-color: rgb(106, 106, 254);
}

main {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem; 
}

section {
    padding: 10px;
    background-color: white; 
}