
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lora";
}



header {
    background: #fff;
    padding: 2rem;
    justify-content: left;
    display: flex;
    text-align: center;
    align-items: center;
}

header span{
    position: absolute;
    left: 12vw;
    
}

main {
    padding: 2rem;
    background: rgb(14, 33, 112);
    grid-column: 1 / 3;

}

footer{
    padding: 2rem;
    background: #fff;
    grid-column: 1 / 3;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: #150d5b;
    text-decoration: none;
    padding: 13px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(84, 165, 246);
    ;
}

/* Navigation Stuff */ 

nav {
    background-color: rgb(42, 98, 154);
    padding: 0; 
}

#menu{
    font-size: 2rem;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    width: 44px;
    text-align: left;
    padding: .25rem 2vw;
    position: absolute ;
    top: 0;
    left: 2vw;
}

li.current-menu-item a {
    background-color: rgb(118, 163, 21);
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

#menu::before {
	content: "\2630"; 
} 

#menu.open::before {
	content: "X";
}

/* HERO IMAGE */ 

#Icon{
    position: relative;
    left: 70px;
    top: 0;
    width: 55px;
    height: 55px;
    
}

/* Main Section */  

main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-direction: column;
    
}

#hero{
    max-width: 100%;
    height: auto;
    justify-content: center;
}

#box1 {
    display: grid;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-decoration: underline orange;
    padding: 15px;
    
    
}

#letters{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    
}

#box3{
    background-color: rgb(255, 230, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    
}

#box4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    padding: 15px;
    

    
}

#homereal {
    background-color: rgb(255, 247, 2);
    padding: 10px;
    color: #000000;
    border: 1px solid black;
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    justify-self: center;
    padding: 10px;



}

/* Discover Page Stuff */

#discover-main{
    background-color: rgb(220, 221, 225);
    
}

#discover-main h1 {
    text-align: center;
}

.grid{
    display: grid;
    
}

.grid .card{
    background-color: rgb(220, 221, 225);
    text-align: center;
    margin: 10px; 

}

.side-items{
    margin: 20px;
    border: rgb(14, 33, 112) dashed;
}

.side-items p {
    margin: 10px;
}


#-sidebar1 img{
    max-width: 100%;
    height: auto;

}

.photos{
    margin: 20px;
    
}

figure img{
    align-content: center;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 30px;
}

#title-discover{ 
    padding: 30px;
    color: rgb(14, 33, 112);
    
}

#local-storage{
    padding: 20px;
    background-color: #fff;
}

/* Join Page Basic Arrangements Stuff */ 

.join-card h2, h1, p {
    text-align: center;

}

.join-grid{
    margin: 50px;

}



#join-main{
    background-color: rgb(220, 221, 225);
}

.join-class fieldset{
    margin: 2rem 0;
    border: 3px dashed rgb(14, 33, 112);
    border-radius: 6px;
    padding: .5rem 2%;

}

.join-class legend{
    color: rgb(14, 33, 112);
    padding: 0 .5rem;
    font-size: larger;
    color: rgb(28, 21, 163);
}

.join-class label{
    display: block;
    padding: 1rem;
    font-size: .9rem;

}

.join-class input[type="text"],
.join-class input[type="tel"],
.join-class input[type="email"],
.join-class textarea,
.join-class select {
    background-color: rgb(250, 250, 250);
    display: block;
    border-radius: 6px;
    border: 1px solid #150d5b;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.join-class input:required {
    border-right: solid 8px #9c2c13;
}

.join-class input:required:valid {
    border-right: solid 8px green; 

}

.join-class input[type="submit"]{
    border: none;
    background-image: linear-gradient(#9c2c13, #6f2211);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 93%;
    max-width: 400px;
    margin: -1rem 3% 2rem 4%;
    box-shadow: 1px 1px 4px #999;


}

.center-container ul{
    
    list-style-position: inside;
    padding: 15px;
}

.center-container{
    margin-top: 40px;
    margin-left: 15% ;
    /*text-align: center;*/
     
}

#inside-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title-join{
    padding-top: 40px;

}

/* Thanks Page Stuff */ 

#thankspage{
    background-color: #fff;
}

/* Directory Page Stuff */ 


article.gridB section {
    width: 100%;
    margin: 5px auto;
  }

  article.gridV section img {
    width: 70%;
    height: auto;
    border-radius: 35px;
  }

  article.listV section img {
    display: none;
  }

  article.listB section div {
    display: block;
  }




 







footer{
    text-align: center;
    
}



