
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lora";
}



header {
    background: #fff;
    padding: 2rem;
    justify-content: left;
    display: flex;
    text-align: center;
    align-items: center;
}

/*header span{
    position: absolute;
    left: 12vw;
    
} */ 

main {
    padding: 2rem;
    background: rgb(14, 33, 112);
    grid-column: 1 / 3;

}

footer{
    padding: 2rem;
    background: #fff;
     
}

footer img {
    justify-self: center;
    width: 50%;
    height: auto;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: #150d5b;
    text-decoration: none;
    padding: 13px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(84, 165, 246);
    
}

/* Navigation Stuff */ 

 

nav {
    background-color: rgb(42, 98, 154);
    padding: 0; 
}

#menu{
    font-size: 2rem;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    width: 44px;
    text-align: left;
    padding: .25rem 2vw;
    position: absolute ;
    top: 0;
    left: 2vw;
}

li.current-menu-item a {
    background-color: rgb(118, 163, 21);      
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

#menu::before {
	content: "\2630"; 
} 

#menu.open::before {
	content: "X";
}

/* HERO IMAGE */ 

#Icon{
    position: relative;
    left: 70px;
    top: 0;
    width: 55px;
    height: 55px;
    
}

/* Main Section */  

main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-direction: column;
    
}

#hero{
    max-width: 100%;
    height: auto;
    justify-content: center;
}

#box1 {
    display: grid;
    justify-content: center;
    flex-direction: column;
    color: #fff;
   
    padding: 15px;
    margin: 15px;
    
    
}

#letters{
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Box2 Stuff */

#box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    text-align: center;
     
    
}
 
#box2 h2 {
    padding-top: 65px;
}

#box2 #box23{
    padding: 80px;
    

}

#netParty, #finanH{
    max-width: 80%;
    height: auto;
    justify-content: center;
}

/* Box3 Stuff */

#box3 h2 {
    padding-top: 65px;
}

#box3 #box33{
    padding: 80px;
    
}

.padding{
    margin: 25px;
}

#openH, #teslaH, #designH{
    max-width: 80%;
    height: auto;
    justify-content: center;
    transition: width 2s, height 2s, transform 2s;
}

#openH:hover, #teslaH:hover, #designH:hover{
    transform: rotate(360deg);

     
}

/* Box4 Stuff */

figure .home{
    margin: 0px;
}

#box4 h2 {
    padding-top: 65px;
}

#box4 #box44{
    padding: 80px;
    
}

.todayTemp img{
    width: 55px;
    height: 55px;
    align-self: center;
}

/* Banner Stuff */

.banner {
    background-color: rgb(255, 230, 0);
    padding: 10px;
    text-align: center;
    position: relative;
  }
  
.banner button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.hidden {
    display: none;
  }

header span{
    display: none;
    
    
     
}

#box3{
    background-color: rgb(255, 230, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
     
    
}

#box4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    padding-top: 10px;

}

#homereal {
    background-color: rgb(255, 247, 2);
    padding: 10px;
    color: #000000;
    border: 1px solid black;
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    justify-self: center;
    cursor: pointer;
     
}

/* Discover Page Stuff */

#discover-main{
    background-color: rgb(220, 221, 225);
    
}

#discover-main h1 {
    text-align: center;
}

.grid{
    display: grid;
    
}

.grid .card{
    background-color: rgb(220, 221, 225);
    text-align: center;
    margin: 10px; 

}

.side-items{
    margin: 20px;
    border: rgb(14, 33, 112) dashed;
}

.side-items p {
    margin: 10px;
}


#-sidebar1 img{
    max-width: 100%;
    height: auto;

}

.photos{
    margin: 20px;
    
}

figure img{
    align-content: center;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 30px;
}

#title-discover{ 
    padding: 30px;
    color: rgb(14, 33, 112);
    
}

#local-storage{
    padding: 20px;
    background-color: #fff;
}

/* Join Page Basic Arrangements Stuff */ 

.join-card h2, h1, p {
    text-align: center;

}

.join-grid{
    margin: 50px;

}

#title-join{
    color: rgb(14, 33, 112);
}



#join-main{
    background-color: rgb(220, 221, 225);
}

.join-class fieldset{
    margin: 2rem 0;
    border: 3px dashed rgb(14, 33, 112);
    border-radius: 6px;
    padding: .5rem 2%;

}

.join-class legend{
    color: rgb(14, 33, 112);
    padding: 0 .5rem;
    font-size: larger;
    color: rgb(28, 21, 163);
}

.join-class label{
    display: block;
    padding: 1rem;
    font-size: .9rem;

}

.join-class input[type="text"],
.join-class input[type="tel"],
.join-class input[type="email"],
.join-class textarea,
.join-class select {
    background-color: rgb(250, 250, 250);
    display: block;
    border-radius: 6px;
    border: 1px solid #150d5b;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.join-class input:required {
    border-right: solid 8px #9c2c13;
}

.join-class input:required:valid {
    border-right: solid 8px green; 

}

.join-class input[type="submit"]{
    border: none;
    background-image: linear-gradient(#9c2c13, #6f2211);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 93%;
    max-width: 400px;
    margin: -1rem 3% 2rem 4%;
    box-shadow: 1px 1px 4px #999;


}

.center-container ul{
    
    list-style-position: inside;
    padding: 15px;
}

.center-container{
    margin-top: 40px;
    margin-left: 15% ;
    /*text-align: center;*/
     
}

#inside-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title-join{
    padding-top: 40px;

}

/* Thanks Page Stuff */ 

#thankspage{
    background-color: rgb(220, 221, 225);
    padding: 50px;
}

/* Directory Page Stuff */ 

#main-directory{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    margin: 0 auto;
	padding: 0.5rem;
	background-color: rgb(220, 221, 225);
	 
}

#center{
    
    grid-column: 2 / 3;
    margin-bottom: 30px;
    
     
      
}

#main-directory h1{
    color: navy;
}

.menuD{
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    width: 300px;
    display: grid;
    grid-template-columns: 130px 130px ;
    
}

.menuD button {
	padding: 1rem;
	font-weight: 700;
    align-content: center;
    margin: 5px;
}

.inside-Direct {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: .5rem;
	background-color: #fff;

}

.gridC {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.gridC section {
	text-align: center;
}

.gridC img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.gridC section > * {
	margin: 0.1rem;
}

.gridC h3 {
	font-family: "Caveat", cursive;
}

.listB {
	display: flex;
	flex-direction: column;
}

.listB section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.listB section > * {
	margin: 0 1rem;
}

.listB section img {
	display: none; /* smaller viewports only */
}

.listB section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.listB section:nth-child(even) {
	background-color: rgb(146, 187, 234);
}

.inside-Direct h3 {
	font-size: 1.5rem;
}

.inside-Direct p {
    padding: 10px;
	font-weight: 600;
	font-size: smaller;
}

.inside-Direct a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%;  
}




footer{
    text-align: center;
    
}



