* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Chakra Petch";
}

h1 {
    text-decoration: underline;
}

header,
nav,
footer {
    background-color: #013e4f;
}

header,
footer {
    color: #fff;
}

main h1 {
    margin: 10px;

}

.card {
    background-color: beige;
    margin: 10px;
    border: 1px dashed rgb(250, 205, 81);
}

.card h2 {
    display: block;
    background-color: rgb(255, 218, 120);
    text-align: center;
    margin: 1px;
    color: #013e4f;
}

#bullet {
    margin-left: 1rem;
    list-style-type: none;
}

.card p,
ul {
    padding: 5px;
}

.card p {
    text-align: center;
    margin: 10px;

}

footer {
    text-align: center;
}

header {
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
}

header span {
    flex: 1 1 100%;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(42, 98, 154);
    padding: 0px;
    margin: 0px;


}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(9, 44, 78);
    ;
}

/* rgb(250, 205, 81)