:root{
  --dark-blue: #013e4f;
  --dark-red: #9c2c13;
  --ligth-blue: rgb(137, 178, 211);
  
}

label {
    display: block;
    margin: 16px;
    
}

#feedback,
 #feedback2{
    color: rgb(12, 12, 140);
}

.fw1 input[type="text"],
.fw1 input[type="password"],
.fw1 input[type="email"],
.fw1 input[type="range"]{
    background-color: var(--ligth-blue);
    display: block;
    color: rgb(0, 0, 0);
    border: solid 1px #999;
    border-radius: 6px ;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    
}

#r {
    accent-color: var(--dark-blue);
}

main{
    margin: 2rem 0;
    padding: .5rem 2%;

}

.fw1 label {
    color: var(--dark-red);

}

.fw1 input:required {
    border-bottom: solid 8px var(--dark-red); 

}

.fw1 input:required:valid {
    border-bottom: solid 8px var(--dark-blue); 

}

.fw1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(var(--dark-red), #6f2211);
    color: #fffdfd;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;

}

#rangevalue{
    margin-left: 1%;
}

