

@media only screen and (min-width: 35rem) {

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .navbar {
        display: flex;
        flex-direction: row;
 
    }  
    
    .navbar li {
        flex: 1 1 100% ;
    }


    /* nAV STUFF */ 
    #menu {
		display: none; 
	}

    ul.navbar, ul.navbar.open{
        display: flex;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .hero span{
        font-size: 1.5rem;
    }

     /*.navbar a {
		display: block;
		
	}*/ 

}

