body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

div.banner {
	padding: 1rem;
	background-color: #eee;
    text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 1fr 150px;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1 / 3;
    margin: 20px;
}

.center {
    padding: 10px;
}

#list{
    padding: 20px;
}


article p {
	text-align: justify;
    
}

.callout {
	color: #fff;
	background-color: #87036f;
    padding: 10px;
    grid-column: 1 / 3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
